<hr />
<div class="d-flex m-md-2 text-light gap-2 w-100">
  <div class="d-flex align-items-center w-25 d-none d-md-block text-center">
    <img
      src="Asunaro mon black.jpg"
      alt="asunaro"
      class="img-fluid scroll-img"
    />
  </div>
  <div class="d-flex flex-column w-md-75 w-100 text-wrap mx-3 my-2 m-md-2">
    <h2>Διεθνείς οργανώσεις</h2>
    <p class="lh-1">
      <a class="text-white" href="https://www.kendo.or.jp/en/" target="_blank"
        >All Japan Kendo Federation</a
      >
    </p>
    <p class="lh-1">
      <a class="text-white" href="https://www.kendo-fik.org/" target="_blank"
        >International Kendo Federation</a
      >
    </p>
    <p class="lh-1">
      <a class="text-white" href="https://www.ekf-eu.com/" target="_blank"
        >European Kendo Federation</a
      >
    </p>
  </div>
</div>
<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="d-flex justify-content-between m-md-2 text-light gap-md-2">
  <div
    class="d-flex align-items-center align-self-end w-25 d-none d-md-block text-center"
  >
    <img
      src="Asunaro mon white.jpg"
      alt="asunaro"
      class="img-fluid scroll-img"
    />
  </div>
  <div class="d-flex flex-column w-md-75 w-100 text-wrap mx-3 my-2 m-md-2">
    <h2>EOKIN</h2>
    <p class="lh-1">
      <a class="text-white" href="https://eokin.gr/" target="_blank"
        >Ελληνική Ομοσπονδία Kendo, Iaido, Jodo, Naginata</a
      >
    </p>
    <p class="lh-1">
      <a
        class="text-white"
        href="https://iaido-greece.blogspot.com/"
        target="_blank"
        >Τεχνική Επιτροπή Iaido ΕΟΚΙΝ</a
      >
    </p>
  </div>
</div>
<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="d-flex justify-content-between m-md-2 text-light gap-md-2">
  <div class="d-flex align-items-center w-25 d-none d-md-block text-center">
    <img
      src="Asunaro mon black.jpg"
      alt="asunaro"
      class="img-fluid scroll-img"
    />
  </div>
  <div class="d-flex flex-column w-md-75 w-100 text-wrap mx-3 my-2 m-md-2">
    <h2 class="mb-3">Σχολές Shinkage Ryu στην Ευρώπη</h2>
    <h4>Γαλλία</h4>
    <p class="lh-1">
      <a
        class="text-white"
        href="https://crkdr-nouvelleaquitaine.fr/index.php/page-d-exemple/iaido/"
        target="_blank"
        >Bordeaux Iaido</a
      >
    </p>
    <p class="lh-1">
      <a
        class="text-white"
        href="https://www.suishinkai-dojo.fr/"
        target="_blank"
        >Suishinkai Dojo - Nantes</a
      >
    </p>
    <p class="lh-1">
      <a
        class="text-white"
        href="https://www.bias-aikido-iaido-ryu.com"
        target="_blank"
        >Bias Aikido & Iaido Ryu - Bias</a
      >
    </p>
    <h4 class="mt-3">Ολλανδία</h4>
    <p class="lh-1">
      <a class="text-white" href="https://www.shinkageryu.nl/" target="_blank"
        >Netherlands Shinkage Ryu Foundation</a
      >
    </p>
    <p class="lh-1">
      <a class="text-white" href="http://www.yushinkan.com/" target="_blank"
        >Yushinkan - Utrecht</a
      >
    </p>
    <p class="lh-1">
      <a
        class="text-white"
        href="https://www.kodokan-rotterdam.nl/"
        target="_blank"
        >Kodokan - Rotterdam</a
      >
    </p>
    <h4 class="mt-3">Ισπανία</h4>
    <p class="lh-1">
      <a class="text-white" href="https://zanshin-madrid.com/" target="_blank"
        >Zanshin - Madrid</a
      >
    </p>
    <p class="lh-1">
      <a
        class="text-white"
        href="https://www.facebook.com/IaidoArganda"
        target="_blank"
      >
        San Gaku Kai - La Poveda</a
      >
    </p>
    <h4 class="mt-3">Ελλάδα</h4>
    <p class="lh-1">
      <a class="text-white" href="http://www.shinkageryu.gr/" target="_blank"
        >Asunarokai - Αθήνα, Αγ. Δημήτριος</a
      >
    </p>
    <p class="lh-1">
      <a
        class="text-white"
        href="https://www.facebook.com/iaidoheraklion/"
        target="_blank"
        >Iaido Dojo Heraklion - Αθήνα, Ν. Ηράκλειο</a
      >
    </p>
  </div>
</div>
<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
