<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="text-wrap px-md-5 mb-2">
  <h2>Ονομασία</h2>
  <p>
    Τον Μάρτιο του 2009, ο sensei Matsuoka τίμησε το dojo μας, δίνοντάς του το
    όνομα <strong>"Asunarokai"</strong>.
  </p>
  <p>
    Τo <strong>Asunaro</strong> (thujopsis dolaborata) είναι ένα είδος ιαπωνικού
    κυπαρισσιού που αναπτύσσεται με εξαιρετική δυσκολία. Ο σπόρος μεγαλώνει μόνο
    όταν ποτίζεται κάθε ημέρα ανελλιπώς για πέντε συνεχόμενα χρόνια. Αν έστω και
    μια ημέρα δεν ποτιστεί, ο σπόρος θα πεθάνει. Μετά από αυτό το διάστημα, το
    φυτό ξεπροβάλλει από το έδαφος και αναπτύσσεται με γοργό ρυθμό.
  </p>
  <p>
    Μεταφορικά, για τους Ιάπωνες, <strong>Asunaro</strong> σημαίνει:
    <em>Να μεγαλώσεις και να γίνεις αυτό που επιθυμείς.</em>
  </p>
  <p>
    <strong>Kai</strong> είναι ο οίκος ή η ομάδα που λειτουργεί κάτω από
    συγκεκριμένες αρχές.
  </p>
</div>
<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="d-flex justify-content-center text-light gap-md-2 px-md-5 mb-4">
  <div class="d-flex w-25 d-none d-md-block align-self-center mt-lg-2">
    <img
      src="scroll_asunarokai.jpg"
      alt="asunarokai"
      class="img-fluid scroll-img"
    />
  </div>
  <div class="d-flex flex-column w-md-75 w-100 text-wrap">
    <h2>Τοποθεσία</h2>
    <p>
      Τo Asunarokai Dojo στεγάζεται στο
      <a
        href="http://aikidotrainingcenter.gr/"
        target="_blank"
        class="text-white"
        >Aikido Training Center</a
      >, στην οδό Μεγαλουπόλεως 9, στην περιοχή του Αγίου Δημητρίου, δίπλα στο
      Μετρό.
    </p>
    <div
      class="d-flex flex-column text-center ratio ratio-4x3 w-100 align-self-center"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.6666445509286!2d23.739301299999997!3d37.9382175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bdbd87b4bc45%3A0x216ddeec67af558e!2sAsunarokai%20Dojo!5e0!3m2!1sen!2sgr!4v1733247514481!5m2!1sen!2sgr"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
<div class="text-wrap px-md-5 mb-2">
  <h2 class="mt-4">Πρόγραμμα</h2>
  <p>Το πρόγραμμα της σχολής φαίνεται στον παρακάτω πίνακα:</p>
  <div class="table-responsive-md">
    <table class="table table-striped table-dark">
      <tbody>
        <tr>
          <td>Δευτέρα</td>
          <td>Πρωί</td>
          <td>07:00 - 09:00</td>
        </tr>
        <tr>
          <td>Τρίτη</td>
          <td>Βράδυ</td>
          <td>21:00 - 22:30</td>
        </tr>
        <tr>
          <td>Τετάρτη</td>
          <td>Πρωί</td>
          <td>07:00 - 09:00</td>
        </tr>
        <tr>
          <td>Πέμπτη</td>
          <td>Βράδυ</td>
          <td>21:00 - 22:30</td>
        </tr>
        <tr>
          <td>Παρασκευή</td>
          <td>Βράδυ</td>
          <td>21:00 - 22:30</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
  </div>
  <h2 class="mt-md-4">Δάσκαλοι</h2>
  <p>
    Η διδασκαλία γίνεται από τους:<br />
    Παπαδόπουλο Ιωάννη, 6ο Dan Iaido.<br />Ψαλτάκη Ιωάννη, 6ο Dan Iaido.
  </p>
  <ul class="list-unstyled">
    <li>Τηλ. επικοινωνίας: +30 6946405799</li>
    <li>Email: asunarokai&#64;shinkageryu.gr</li>
  </ul>
</div>
