<div class="text-light">
  <img src="main.jpg" alt="Forest" class="object-fit-cover img-fluid w-100" />
</div>
<div
  class="d-flex flex-column flex-wrap align-content-center mt-3 py-2 text-light position-relative"
  style="
    background-image: url('katana.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  "
>
  <div
    class="position-absolute w-100 h-100"
    style="background-color: rgba(0, 0, 0, 0.5); top: 0; left: 0"
  ></div>
  <div class="position-relative">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <img class="rounded" src="i.jpg" alt="i" />
    </div>
    <span class="d-flex justify-content-center mb-3"
      >"I" &dash; "πνεύμα παρόν"</span
    >
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <img class="rounded" src="ai.jpg" alt="ai" />
    </div>
    <span class="d-flex justify-content-center mb-3"
      >"Ai" &dash; "αρμονία"</span
    >
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <img class="rounded" src="do.jpg" alt="do" />
    </div>
    <span class="d-flex justify-content-center"
      >"Do" &dash; "δρόμος" ή "μονοπάτι"</span
    >
  </div>
</div>
