<div class="bg-dark text-light min-vh-100">
  <app-header></app-header>
  <div class="d-flex flex-column pb-3">
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-transparent navbar-text fw-semibold mx-2 py-0"
    >
      <div class="container-fluid">
        <a class="navbar-brand mb-1" [routerLink]="['/']">
          <img src="Asunaro mon white.jpg" alt="Asunaro white" />
        </a>
        <button
          class="navbar-toggler collapsed d-flex d-sm-none flex-column justify-content-around"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="toggler-icon top-bar"></span>
          <span class="toggler-icon middle-bar"></span>
          <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse p-md-3" id="navbarNav">
          <ul
            class="navbar-nav nav-underline text-light bg-dark gap-1 gap-sm-4"
          >
            <li class="nav-item">
              <a
                routerLink="/home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link active text-light px-0"
                aria-current="page"
                >Αρχική σελίδα</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/about"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link text-light px-0"
                aria-current="page"
                >Dojo</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/info"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link text-light px-0"
                aria-current="page"
                >Iaido</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/history"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link text-light px-0"
                aria-current="page"
                >Shinkage Ryū</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/links"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link text-light px-0"
                aria-current="page"
                href="#"
                >Links</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
