<div class="container bg-dark text-light min-vh-100">
  <app-header></app-header>
  <div class="d-flex flex-column gap-2">
    <nav class="navbar navbar-expand-md navbar-dark navbar-text fw-semibold">
      <div class="container-fluid">
        <button
          class="navbar-toggler small mb-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon small"></span>
        </button>
        <div class="collapse navbar-collapse p-md-3" id="navbarNav">
          <ul class="navbar-nav nav-underline text-light bg-dark gap-6">
            <li class="nav-item">
              <a
                routerLink="/home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link active text-light"
                aria-current="page"
                >Αρχική σελίδα</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/about"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link text-light"
                aria-current="page"
                >Dojo</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/info"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link text-light"
                aria-current="page"
                >Iaido</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/history"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link text-light"
                aria-current="page"
                >Shinkage Ryū</a
              >
            </li>
            <!-- <li class="nav-item">
            <a
              routerLink="/news"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="nav-link text-light" aria-current="page"
              href="#"
              >Νέα</a
            >
          </li>-->
            <li class="nav-item">
              <a
                routerLink="/links"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="nav-link text-light"
                aria-current="page"
                href="#"
                >Links</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="p-2 text-nowrap w-auto mb-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
