<hr />
<div class="d-flex m-md-2 text-light gap-2 mx-2">
  <div
    class="d-flex d-none w-25 d-md-flex mt-sm-5 pt-sm-4 mt-lg-5 justify-content-center align-self-start"
  >
    <img
      src="Shinkage ryu.jpg"
      alt="shinkage"
      class="img-fluid scroll-img rounded"
    />
  </div>
  <div class="d-flex flex-column w-md-75 w-100 text-wrap mx-2 mt-2">
    <h2>Shinkage Ryū</h2>
    <div class="row">
      <div class="col">
        <img
          src="Kamiizumi no kami.jpg"
          alt="Kamiizumi no kami"
          class="img-fluid float-end rounded m-2 m-lg-0 kami-img d-lg-none"
        />
        <p class="justify-content-evenly text-wrap">
          Η Shinkage Ryū ιδρύθηκε από τον Kamiizumi Ise-no-kami Hidetsuna
          (αργότερα Nobutsuna) στα μέσα του 16ου αιώνα. Ο Hidetsuna είχε
          μελετήσει τις σχολές Tenshin Shōden Katori Shintō Ryū, Nen Ryū και
          Kage Ryū. Τη σχολή Kage Ryū την είχε διδαχθεί από τον ιδρυτή της Aisu
          Ikosai, και αφού κατανόησε την αρχή που ονόμασε “Marobashi”,
          δημιούργησε τη σχολή Shinkage Ryū (δηλαδή τη νέα Kage Ryū). Το
          Marobashi είναι η βαθιά κατανόηση της φύσης της μάχης και είναι η βάση
          όλων των τεχνικών στη Shinkage Ryū.
        </p>
        <img
          src="Kamiizumi no kami.jpg"
          alt="Kamiizumi no kami"
          class="d-none d-lg-block img-fluid rounded mx-auto kami-img"
        />
      </div>
    </div>

    <h2 class="mt-4">Yagyū Shinkage Ryū</h2>
    <p>
      O Yagyū Sekishisai Munetoshi ήταν ένας τοπικός άρχοντας στην επαρχεία Nara
      και διάσημος πολεμιστής. Αφού συνάντησε τον Hidetsuna και έχασε από αυτόν
      σε μια μονομαχία, του ζήτησε να έρθει στο χωριό Yagyū και να του διδάξει
      την Shinkage Ryū. Ο Munetoshi ορίστηκε ως ο δεύτερος διάδοχος της Shinkage
      Ryū από τον Hidetsuna, αφού επέδειξε τις τεχνικές muto (τεχνικές με τις
      οποίες ένας άοπλος επικρατεί απέναντι σε έναν ένοπλο), που ο ίδιος είχε
      δημιουργήσει.
    </p>
    <p>
      Το 1594 ο Tokugawa Ieyasu ζήτησε από τον Munetoshi να παρουσιάσει τη
      Shinkage Ryū. Αφού ο Munetoshi μαζί με τον πέμπτο του γιο, τον Mataemon
      Munenori, παρουσίασαν τη Shinkage Ryū, ο Ieyasu πήρε ένα bokuto και
      επιτέθηκε στον άοπλο Munetoshi. Ο Munetoshi εκτέλεσε με επιτυχία την
      τεχνική muto-dori και ο Ieyasu εντυπωσιάστηκε τόσο, που ζήτησε να μάθει τη
      Shinkage Ryū. Ο Munenori πήγε στην υπηρεσία του Ieyasu, ως εκπαιδευτής
      kenjutsu στο Edo. Ο γιος του Munenori, Mitsutoshi, γνωστός και ως Jubei,
      έγινε διάσημος λαϊκός ήρωας.
    </p>
    <p>
      Ο Munetoshi παρέμεινε στο χωριό Yagyū, όπου δίδαξε τον εγγονό του
      Hyogonosuke Toshitoshi, ο οποίος έγινε ο τρίτος διάδοχος της Shinkage Ryū.
      Οι διάδοχοι του Toshitoshi συνέχισαν να διδάσκουν τη Shinkage Ryū στους
      Owari (σημερινή επαρχεία Aichi) Tokugawa.
    </p>
    <p>
      Μετά την παλινόρθωση Meiji, o 19ος διαδοχος Yagyū Toshichika μετακόμισε
      στο Τόκυο για να διδάξει τη Shinkage Ryū στην Αυτοκρατορική Αστυνομία του
      Παλατιού και ο 20ος διάδοχος Yagyū Toshinaga, δίδαξε την Αυτοκρατορική
      Φρουρά. Στη συνέχεια ο Yagyū Toshinaga επέστρεξε στη Nagoya και ίδρυσε το
      Yagyū-kai.
    </p>
    <h2 class="mt-4">(Yagyū) Seigō Ryū</h2>
    <p>
      Ο Isahaya Chōzaemon Nobumasa έμαθε τις τεχνικές ju-jutsu και battō από το
      μοναχό Seigō και ίδρυσε μια σχολή με το όνομα Seigō Ryū. Ο διάδοχος του
      Nobumasa, o Kajiwara Genzaemon Naokage μετέδωσε το Seigō Ryū στην επαρχία
      Owari και ο 6ος επικεφαλής της Seigō Ryū, Nagaoka Fusashide, ο οποίος ήταν
      επίκουρος δάσκαλος στο Yagyū Shinkage Ryū Heihō, αναμόρφωσε το battō
      κομμάτι της Seigō Ryū, σύμφωνα με τις αρχές της Shinkage Ryū και έτσι
      γεννήθηκε το Yagyū Seigō Ryū Battō. Οι Yagyū Toshichika και Yagyū
      Toshinaga αναδιαμόρφωσαν το Yagyū Seigō Ryū Battō και το μεταβίβασαν στον
      Yagyū Koichi, το οποίο εξασκείται σήμερα στο Yagyū-kai.
    </p>
  </div>
</div>
<div class="text-center mb-4">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="d-flex justify-content-between mx-2 text-light gap-2">
  <div class="d-flex flex-column w-md-75 w-100 text-wrap mx-2">
    <h2 class="mt-4">Shinkage Ryū Iaidō</h2>
    <p>
      Το Shinkage Ryū Iaidō είναι μια μείξη από τα Shinkage Ryū Battō Seihō και
      (Yagyū) Seigō Battō και έχει επιρροές από τα Sekiguchi Iai και Rikishin
      Ryū Iai. Όλες αυτές οι τέχνες εξασκούνταν μέσα στην οικογένεια Yagyū. Το
      1936 ο Kashima Kiyotaka (1900-1978) έλαβε την άδεια από τον Yagyū Kinji
      Toshinaga να διδάξει, εκτός της οικογένειας Yagyū, το Iai που είχε μάθει
      υπό το όνομα Shinkage Ryū Iai. Γύρω στο 1945 υπήρχαν διάφορες ονομασίες
      για το Shinkage Ryū Iai, όπως τα Yagyū Ryū Iai, Shinkage Ryū Heihō Iai και
      Yagyū Seigō Ryū Iai. Μέχρι το 1955 όμως, όλα αυτά τα ονόματα είχαν
      αντικατασταθεί από το Shinkage Ryū Iai.
    </p>
    <p>
      Ο Kashima Kiyotaka (Iaido Hanshi 8ο dan, Kendo 8ο dan) είχε αρκετούς
      υψηλόβαθμους μαθητές, όπως οι Kashima Seiji (Kyoshi 7ο dan), Suzuki
      Yasuchika (Hanshi 8ο dan), Kobayashi Hiroshi (Kyoshi 7ο dan), Mori Jurō
      (Kyoshi 8ο dan) και Akita Moriji (Hanshi 8ο dan).
    </p>
    <p>
      Η διαφορά της Shinkage Ryū από τις άλλες σχολές σπαθιού είναι ότι στη
      Shinkage Ryū ο κύριος στόχος δεν είναι να σκοτώσουμε τον αντίπαλο αλλά να
      τον εξουδετερώσουμε στην επερχόμενη μάχη. Ο ασκούμενος στη Shinkage Ryū
      μαθαίνει να αντιδρά άμεσα σε μια επίθεση από έναν αντίπαλο, η οποία
      συμβαίνει με διάφορα όπλα και σε διαφορετικές καταστάσεις. Ο στόχος του
      ασκούμενου στη Shinkage Ryū είναι να βελτιώνει τη σωματική και πνευματική
      του δύναμη μέσω της συνεχούς προπόνησης αλλά να πετυχαίνει τη νίκη χωρίς
      να προβαίνει στη βία. Ο ύψιστος στόχος είναι η νίκη επί του αντιπάλου
      χωρίς το τράβηγμα του σπαθιού, διατηρώντας συνεχώς ένα ειρηνικό πνεύμα.
    </p>
  </div>
  <div
    class="d-flex w-25 d-none d-md-flex text-end justify-content-center align-self-start mt-5 pt-3 pt-xl-5 mt-xl-1"
  >
    <img
      src="Shinkage ryu.jpg"
      alt="shinkage"
      class="img-fluid scroll-img rounded"
    />
  </div>
</div>
<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="d-block d-md-flex justify-content-between m-2 text-light gap-2">
  <div class="d-flex flex-column w-md-75 text-wrap m-2">
    <h2 class="mt-4">Matsuoka Yoshitaka Sensei</h2>
    <p>
      Ο Matsuoka Yoshitaka Sensei (1941) είναι σήμερα ο σημαντικότερος δάσκαλος
      της Shinkage ryu Iaido. Οι δάσκαλοί του ήταν οι Akita Moriji Sensei Hanshi
      8ο dan (Iai) & Kashima Kiyotaka Iaido Hanshi 8ο dan, Kendo 8ο dan.
    </p>
    <p>
      Το 2003, ο Matsuoka Sensei, κατέλαβε τη 2η θέση στο διάσημο Z.N.K.R.
      hachidan (8dan) taikai στη Hakone. Είναι πρόεδρος του τμήματος Iaido της
      Ομοσπονδίας για την περιφέρεια Aichi και πρόεδρος στο Iwakura Budokan.
      Επίσης, διδάσκει στα Kasugai και Jinshinkan dojos στη Nagoya.
    </p>
    <h2 class="mt-4">Kinomoto Miyuki Sensei</h2>
    <p>
      Η Kinomoto Miyuki Sensei (1960) είναι η πιο προχωρημένη μαθήτρια (deshi)
      του Matsuoka Sensei. Κατέχει το βαθμό του Iaido kyoshi 8dan & Kendo renshi
      6dan. Η Kinomoto Sensei διδάσκει στο Kendo club του γυμνασίου Iwakura. Από
      το 2000 συνοδεύει τον Matsuoka Sensei στο ετήσιο σεμινάριο Shinkage ryu
      Iaido του Παρισιού. Νωρίτερα, ήταν μέλος της αποστολής του Ishido Sensei
      κατά τα καλοκαιρινά του σεμινάρια στην Ολλανδία και στο Ενωμένο Βασίλειο.
      Το Μάιο του 2015 πέρασε τις εξετάσεις για το 8ο dan και έγινε η τέταρτη
      και νεώτερη γυναίκα που το καταφέρνει.
    </p>
  </div>

  <!-- Responsive Images -->
  <div class="d-flex w-100 w-md-25 flex-row justify-content-around">
    <div
      class="d-flex flex-row d-md-none flex-sm-row w-100 gap-3 justify-content-around"
    >
      <img
        src="matsuoka.jpg"
        alt="matsuoka-sensei"
        class="img-fluid sensei-img rounded my-2"
      />
      <img
        src="kinomoto.jpg"
        alt="kinomoto-sensei"
        class="img-fluid sensei-img rounded"
      />
    </div>

    <div
      class="d-none d-md-flex flex-column align-items-center justify-content-around"
    >
      <img
        src="matsuoka.jpg"
        alt="matsuoka-sensei"
        class="img-fluid sensei-img rounded mt-lg-5 mt-xxl-1"
      />
      <img
        src="kinomoto.jpg"
        alt="kinomoto-sensei"
        class="img-fluid sensei-img rounded"
      />
    </div>
  </div>
</div>
<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
