<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="d-flex justify-content-between m-md-2 text-light gap-md-2">
  <div class="d-flex align-items-center w-25 d-none d-md-block">
    <img src="Iaido.jpg" alt="Iaido" class="img-fluid scroll-img" />
  </div>
  <div class="d-flex flex-column w-md-75 w-100 text-wrap m-2 mb-4">
    <h2>Τι είναι το Iaido</h2>
    <p>
      Το Iaido είναι μία πολεμική τέχνη μη επιθετική, η οποία δεν προϋποθέτει
      άμεση φυσική επαφή ή μάχη με άλλα άτομα στο “dojo” (ο χώρος όπου
      εξασκείται ο “δρόμος”). Οι ασκούμενοι εκτελούν “πρότυπα” (υποδείγματα), τα
      οποία ονομάζονται “kata” και αναπαριστούν την αντιμετώπιση επίθεσης από
      έναν ή περισσότερους αντιπάλους.
    </p>
    <p>
      Στα kata εμπεριέχονται: το τράβηγμα του σπαθιού, η εκτέλεση ενός ή
      περισσότερων κοψιμάτων, το καθάρισμα της λεπίδας και η επιστροφή του
      σπαθιού στη θήκη. Βασική προϋπόθεση για τη σωστή εκτέλεση ενός kata, είναι
      η συγκέντρωση του νου.
    </p>
    <p>
      Το Iaido είναι μια από τις πιο προσανατολισμένες φιλοσοφικά ιαπωνικές
      πολεμικές τέχνες, αλλά και μια από τις λιγότερο κατανοητές. Είναι κάτι
      πολύ περισσότερο από το να μάθει κανείς πώς να χρησιμοποιεί το σπαθί. Η
      πραγματική ουσία του Iaido είναι η έμφασή του στην καλλιέργεια της
      εσωτερικής γαλήνης με τη μάθηση της χρήσης του σπαθιού ως εργαλείο
      αυτογνωσίας.
    </p>
    <p>
      Το παρακάτω απόσπασμα από το εγχειρίδιο της
      <em>Zen Nippon Kendo Renmei</em>
      σχολιάζει το νόημα της πραγματικής εξάσκησης του Iaido:
    </p>
    <blockquote class="blockquote text-center fs-6">
      <p class="mb-0">
        “Όμως, πιο σημαντική από την τεχνική είναι η πνευματική εξάσκηση. Iai δε
        σημαίνει απαραίτητα να κόψεις έναν εχθρό, αλλά πιο πολύ να κόψεις τον
        <em>εχθρό</em> που βρίσκεται μέσα σου. Νίκη στο Iai είναι η μη
        εκδικητική καρδιά και η κατάπαυση της σύγκρουσης μέσω του μη τραβήγματος
        του σπαθιού. Έτσι, μπορεί κανείς να κατανοήσει γιατί το Iai αποκαλούνταν
        από τους παλιούς: <em>Saya no uchi no kachi</em> (νίκη, δίχως το σπαθί
        να βγει από τη θήκη). Με άλλα λόγια, το Iai είναι η εξάσκηση για την
        τελειοποίηση του ανθρώπου, ποτέ με πρόθεση επιθετική, αλλά με σκέψη
        ειρηνική”.
      </p>
    </blockquote>
  </div>
</div>
<div class="text-center">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="d-flex flex-column table-responsive-md m-2 mt-4">
  <table
    class="table-dark w-md-50 w-sm-100 align-self-center text-wrap align-content-md-between text-end"
  >
    <tbody>
      <tr>
        <td><img src="i.jpg" alt="i" /></td>
        <td>Το "I" σημαίνει "πνεύμα παρόν"</td>
      </tr>
      <tr>
        <td><img src="ai.jpg" alt="ai" /></td>
        <td>Το "Ai" σημαίνει "αρμονία"</td>
      </tr>
      <tr>
        <td><img src="do.jpg" alt="do" /></td>
        <td>Το "Do" σημαίνει "δρόμος" ή "μονοπάτι"</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center mt-4">
  <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
</div>
<div class="d-flex flex-column m-2 text-light text-wrap mt-4">
  <p>
    Παρότι το Iaido είναι κοινώς γνωστό ως “η τέχνη του τραβήγματος του
    σπαθιού”, κυριολεκτικά, η έννοια της λέξης Iaido είναι: “η τέχνη του να
    προσαρμόζεσαι σε όλες τις καταστάσεις της ζωής”. Όταν εξασκούμαστε,
    εστιάζουμε το μυαλό μας στην παρούσα στιγμή και επιχειρούμε να αποκλείσουμε
    όλες τις σκέψεις που αποσπούν την προσοχή μας. Χτίζουμε το χαρακτήρα μας
    μέσα από σταθερή εξάσκηση και πειθαρχία. Ο αγώνας που δίνουμε με τον ευατό
    μας στην καθημερινή μας προπόνηση καθρεφτίζει τον αγώνα που δίνουμε στη ζωή
    μας καθημερινά.
  </p>
  <p>
    Μεταφορικά, το Iaido είναι η ίδια μας η ζωή. Εκείνοι οι οποίοι το κατανοούν,
    θα ανακαλύψουν ότι η εξάσκηση του Iaido είναι ένας “δρόμος” για να αλλάξουν
    τον εαυτό τους και εν τέλει, τη ζωή τους.
  </p>
  <div class="text-center">
    <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
  </div>
  <h1 class="align-self-md-center mt-4">Z.N.K.R (Seitei) Iaido</h1>
  <p>
    Το 1966 οι επικεφαλής δάσκαλοι που συνδέονταν με την Z.N.K.R σχημάτισαν 7
    kata για να βοηθήσουν αρχικά τους kendoka να θυμηθούν τις ρίζες της
    πολεμικής τους τέχνης, αλλά και να προωθήσουν την τέχνη του Iaido στο
    ευρύτερο κοινό. Το 1980, αυτά τα kata αυξήθηκαν σε 10 και το 2001
    προστέθηκαν ακόμα 2, αυξάνοντας το σύνολο των kata σε 12. Σε αυτά
    εξασκούνται όλοι οι iaidoka και αποτελούν το βασικό έδαφος για εξετάσεις και
    αγώνες.
  </p>
  <p>
    Το Z.N.K.R. Iaido περιλαμβάνει 4 kata από καθιστή στάση και 8 από όρθια, τα
    οποία ενσωματώνουν τις πιο αντιπροσωπευτικές κι αποτελεσματικές τεχνικές του
    σπαθιού, που πηγάζουν από διαφορετικές παραδόσεις.
  </p>
  <p>
    Ένας σύντομος τελετουργικός χαιρετισμός (Reiho) τελείται πριν την αρχή και
    μετά το τέλος της εκτέλεσης των kata. Αυτό αποτελεί μία έκφραση σεβασμού στο
    παρελθόν (στους προγόνους ή τους προηγούμενους επικεφαλής δασκάλους), στο
    παρόν (στο δάσκαλο και στο σπαθί) και στο μέλλον (στους μαθητές). Πριν το
    σπαθί τοποθετηθεί στο obi (ζώνη), ο Ιaidoka υποκλίνεται σ’ αυτό, ώστε να
    γίνει ένα με το πνεύμα και το σώμα του.
  </p>
  <p>
    Τα τέσσερα βασικά στοιχεία του Iaido που περιέχονται στα kata είναι: το
    τράβηγμα του σπαθιού (nukitsuke), η καταφορά ενός ή περισσότερων κοψιμάτων
    (kiritsuke), ο καθαρισμός του σπαθιού (chiburi) και η επιστροφή του σπαθιού
    στη θήκη (noto).
  </p>
  <h1 class="align-self-md-center mt-4">Z.N.K.R Iaido kata</h1>
  <div
    class="d-flex justify-content-md-between m-md-2 text-light align-content-md-center w-md-75 align-self-md-center"
  >
    <div class="d-flex flex-column m-md-2 mb-4 w-md-75 w-sm-100">
      <p class="fw-bold">Seiza No Bu (από καθιστή θέση seiza):</p>
      <ul class="list-unstyled">
        <li>1. Ipponme – Mae</li>
        <li>2. Nihonme – Ushiro</li>
        <li>3. Sanbonme – Ukenagashi</li>
      </ul>
      <p class="fw-bold">Iai Hiza No Bu (από καθιστή θέση hiza):</p>
      <ul class="list-unstyled">
        <li>4. Yonhonme – Tsuka Ate</li>
      </ul>
      <p class="fw-bold">Tachi Iai No bu (από όρθια θέση):</p>
      <ul class="list-unstyled">
        <li>5. Gohonme – Kesagiri</li>
        <li>6. Ropponme – Morotezuki</li>
        <li>7. Nanahonme – Sanpogiri</li>
        <li>8. Happonme – Ganmen Ate</li>
        <li>9. Kyuhonme – Soete Zuki</li>
        <li>10. Jupponme – Shihogiri</li>
        <li>11. Juipponme – Sougiri</li>
        <li>12. Junihonme – Nukiuchi</li>
      </ul>
    </div>
    <div class="d-flex flex-column m-md-5 mb-4 w-25 d-none d-md-block gap-md-5">
      <img src="seiza.png" alt="seiza" class="img-fluid kata-img" />
      <img src="hiza.png" alt="hiza" class="img-fluid kata-img" />
      <img src="tachi.png" alt="tachi" class="img-fluid kata-img" />
    </div>
  </div>
  <div class="text-center">
    <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
  </div>
  <div>
    <div class="d-flex flex-column m-md-2 text-light text-wrap mt-4">
      <h1 class="align-self-md-center mt-md-4">Ενδυμασία και εξοπλισμός</h1>
      <p>
        Η ενδυμασία του Ιaido αποτελείται από ένα μακρύ και φαρδύ παντελόνι
        (hakama), ένα λεπτό πανωφόρι (gi) και ένα άσπρο “πουκάμισο” (shitagi)
        που φοριέται μέσα από το gi. Τα χρώματα που επιτρέπονται είναι μαύρο,
        άσπρο ή μπλε.
      </p>
      <p>
        Σε επίσημες εκδηλώσεις φοριέται ένα kimono (montsuki) με φαρδιά μανίκια
        και οικόσημα- σύμβολα (mon) στο στήθος, στην πλάτη και στα μανίκια. Γύρω
        από τη μέση, ο Iaidoka φορά μια φαρδιά ζώνη (obi) στην οποία εισέρχεται
        η θήκη του σπαθιού (saya).
      </p>
      <p>
        Για την προστασία των γονάτων χρησιμοποιούνται επιγονατίδες. Οι αρχάριοι
        μπορούν να ξεκινήσουν την εξάσκησή τους με ένα ξύλινο σπαθί (bokken),
        αλλά για τις εξετάσεις απαιτείται ένα μεταλλικό σπαθί άσκησης (iaito).
      </p>
    </div>
  </div>
  <div class="text-center">
    <img class="responsive-img" src="Asunaro mon white.jpg" alt="Asunaro" />
  </div>
</div>
