.responsive-img {
  width: 3%;
  height: auto;
  border-radius: 50%;
}

.scroll-img {
  max-width: 100%;
  max-height: 80%;
}

.kata-img {
  width: 50%;
  height: auto;
  display: flex;
  margin: 20% 0;
}
